body{
   background-color:rgb(149, 156, 149);
    color: rgb(189, 184, 121); 
    font-size: 20px;
    padding: 0 20px;
}
.musica-um{
    color: rgb(255, 246, 246);
}
.musica-dois{

    color: rgb(255, 249, 249);
}
